#contenedor {
    width: 700px;
}

#cabecera {
    background-color: lightblue;
    height: 100px;
}

#contenido {
    float: left;
    width: 700px; 
    background-color: lightyellow;
    height: 400px;
}

#menu {
    display: none;
}

#pie {
    clear: both;
    background-color: lightgreen;
    height: 50px;
}
